@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Bold";
  font-style: bold;
  font-weight: 600;
  src: url("/src/assets/fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Black";
  font-style: black;
  font-weight: 800;
  src: url("/src/assets/fonts/Nunito-Black.ttf") format("truetype");
}
